

<a class="btn btn-primary" href="/cars/new">Create a Car</a> <a class="btn btn-primary" href="/drives/new">Create a Drive</a>
  <div class="container">
    <div class="row">
        <div class="col-xs-9"id="profileCar">
          <% car.forEach((car) => { %>

          <h2><%=car.carName%></h2>
          <p>Allotted Miles</p> <p><%=car.allotMileageTillNow%></p>
          <p>Odometer Reading</p> <p><%=car.currentOdom%></p>
          <br>
          <a class="btn btn-info" href="/cars/<%= car._id %>" role="button">View Car</a>
          <br>
            <%  }) %>
        </div>
        <% drive.forEach((drive) => { %>
        <div class="col-xs-3" id ="drives">
          <div class="col-xs-12"  >
            <p><b><u id="driveName2"><%=drive.driveName%></u></b></p>

            <div class="col-xs-6" id="driveInfo">

              <p id="driveStatHeading">Distance</p>
              <p><b id="driveStatNum"><%=drive.distance%></b> miles</p>
            </div>

            <div class="col-xs-6" id="driveStat">

              <p id="driveStatHeading">Amount Taken</p>
              <p><b id="driveStatNum"><%=drive.amountTaken%></b> </p>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-primary col-xs-12" href="/drives/<%= drive._id %>/" role="button" method="post">See Drive Details</a>
              </div>
            </div>
          </div>
        </div>
        <%  }) %>

    </div>

  </div>



<!-- <div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
      </div>
      <% drive.forEach((drive) => { %>
        <div class="col-xs-12" id="drives" >
          <p><b><u id="driveName"><%=drive.driveName%></u></b></p>

          <div class="col-xs-6" id="driveInfo">

            <p id="driveStatHeading">Distance</p>
            <p><b id="driveStatNum"><%=drive.distance%></b> miles</p>
          </div>

          <div class="col-xs-6" id="driveStat">

            <p id="driveStatHeading">Amount Taken</p>
            <p><b id="driveStatNum"><%=drive.amountTaken%></b> </p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="col-xs-12 btn" name="button" href="/drives/<%= drive._id %>/" role="button" > View Drive Details</button>
            </div>
          </div>
        </div>
        <%  }) %> -->


      <div class="col-xs-3">
      </div>
    </div>
  </div>
</div>
