
    <div class="container-xs-4" >
    <div class="row">
      <div class="col-xs-4">
      </div>
      <% if(car.length==0) { %>
      <div class="col-xs-4 " id="profileCreate">
      <a id="profileBtn1" class="center-block" href="/cars/new">Create a Car</a>
      </div>
      <% } else { %>
        <div class="col-xs-4 " id="profileCreate">
        <a id="profileBtn1" class="" href="/cars/new">Create a Car</a>
        <a id="profileBtn2" class="" href="/drives/new">Create a Drive</a>
        </div>
      <% }; %>
      <div class="col-xs-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <% car.forEach((car) => { %>
          <div class="col-xs-5" id="profileCar">
            <div class="row">
              <div class="col-xs-10">
              </div>
              <a role="button" class="col-xs-2" href="/cars/<%= car._id %>">
                View
              </a>
            </div>
          <div class="row">
            <div class="col-xs-3">
              <img src="<%=car.imageUrl%>" alt="..." class="img-thumbnail">
            </div>
            <div class="col-xs-9">
                <h2><%=car.carName%></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p id="driveStatHeading1">Remaining Lease</p>
              <p id="driveStatNum1"><b id="driveStatNum"><%=car.leaseDaysLeft%></b> days</p>
            </div>
            <div class="col-xs-4">
              <p id="driveStatHeading1">Current Odometer</p>
              <p id="driveStatNum1"><b id="driveStatNum"><%=car.currentOdom%></b> miles</p>
            </div>
            <div class="col-xs-4">
              <p id="driveStatHeading1">Pace</p>
              <p id="driveStatNum1"><b id="driveStatNum"><%=car.pace%></b> miles</p>
            </div>
          </div>
          </div>
        <%  }) %>

        <% drive.forEach((drive) => { %>
        <div class="col-xs-3" id ="drives">
          <div class="col-xs-12"  >
            <p><b><u id="driveName2"><%=drive.driveName%></u></b></p>

            <div class="col-xs-6" id="driveInfo">

              <p id="driveStatHeading">Distance</p>
              <p><b id="driveStatNum"><%=drive.distance%></b> miles</p>
            </div>

            <div class="col-xs-6" id="driveStat">

              <p id="driveStatHeading">Weekly Trips</p>
              <p><b id="driveStatNum"><%=drive.amountTaken%></b> </p>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-primary col-xs-12" href="/drives/<%= drive._id %>/" role="button" method="post">See Drive Details</a>
              </div>
            </div>
          </div>
        </div>
        <%  }) %>

    </div>

  </div>



<!-- <div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
      </div>
      <% drive.forEach((drive) => { %>
        <div class="col-xs-12" id="drives" >
          <p><b><u id="driveName"><%=drive.driveName%></u></b></p>

          <div class="col-xs-6" id="driveInfo">

            <p id="driveStatHeading">Distance</p>
            <p><b id="driveStatNum"><%=drive.distance%></b> miles</p>
          </div>

          <div class="col-xs-6" id="driveStat">

            <p id="driveStatHeading">Amount Taken</p>
            <p><b id="driveStatNum"><%=drive.amountTaken%></b> </p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="col-xs-12 btn" name="button" href="/drives/<%= drive._id %>/" role="button" > View Drive Details</button>
            </div>
          </div>
        </div>
        <%  }) %> -->


      <div class="col-xs-3">
      </div>
    </div>
  </div>
</div>
