
<body>
<h2>Add a Driving Route here!</h2>

<div class="container makeCar">
  <div class="row">



<form  action="/drives/<%= drive._id %>" method="POST">
<div class="form-group row">

  <label class="col-sm-2 col-form-label" for=driveName> Enter the Name of Your Drive </label>
  <div class="col-sm-10">
  <input type="text" id="driveName" name="driveName" value="<%=drive.driveName%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="originAddress"> What is the starting address?  </label>

  <div class="col-sm-10">
  <input type="text" name="originAddress" id="originAddress" value="<%=drive.originAddress%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="destinationAddress"> What is the ending address? </label>

  <div class="col-sm-10">
  <input type="text" name="destinationAddress" id="destinationAddress" value="<%=drive.destinationAddress%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="distance"> How many miles is the commute? </label>

  <div class="col-sm-10">
  <input type="number" name="distance" id="distance" value="<%=drive.distance%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="amountTaken"> How many times do you take this commute per week?  </label>

  <div class="col-sm-10">
  <input type="number" name="amountTaken" id="amountTaken" value="<%=drive.amountTaken%>">
  </div>

</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label" for="amountTaken"> Which car do you take this route with?  </label>
  <select name="carId" class="selectpicker">
    <% car.forEach((car) => { %>
        <option value="<%=car._id%>"><%= car.carName %></option>
    <%  }) %>
</select>
</div>


  <button class="btn btn-success"type="submit">Save Drive</button>

    </form>
  </div>
  <div class="col-xs-3">
  <% if (typeof(errors) !== "undefined"){ %>
    <% for (let error in errors){ %>
    <div class="error-message">
      <li><%= errors[error].message %></li>
      </div>
    <% } %>
  <% } %>
  </div>

</div>
<!-- <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %> -->

</body>
