
<body>

<!-- <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %> -->
  <div class="container makeCar">
      <div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8"id="fuck">
  <div class="row">
    <div class="col-xs-2">
      <a  href="/profile" role="button" class="glyphicon glyphicon-menu-left"></a>
    </div>
    <div class="col-xs-8">
      <h1>Edit <i><%=drive.driveName%></i> Drive</h1>
    </div>
    <form class="form" action="/drives/<%=drive._id%>" method="POST">
    <div class="col-xs-2">
      <button id="butnTxt"class="btn btn-primary"type="submit">Save Drive</button>
    </div>
  </div>
  <hr>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5" >
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="driveName">Drive Name</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="text" name="driveName" id=driveName value="<%=drive.driveName%>" placeholder="Enter Drive Name">
          </div>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="amountTaken">Which Car</label>
          <div class="col-sm-12" id="formLaneInpt">
            <select name="carId" class="custom-select">
              <opction selected> Choose a Car </option>
              <% car.forEach((car) => { %>
                  <option value="<%=car._id%>"><%= car.carName %></option>
              <%  }) %>
          </select>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5" >
      <div class="form-group">
        <label id="formLaneHdr" class="col-sm-12 control-label"for="originAddress">Starting Address</label>
        <div class="col-sm-10" id="formLaneInpt">
          <input class="no-border"type="text" name="originAddress" id=originAddress value="<%=drive.originAddress%>" placeholder="Starting Address">
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="destinationAddress">Destination Address</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="text" name="destinationAddress" id=originAddress value="<%=drive.destinationAddress%>" placeholder="Destination Address">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5" >
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="distance">Distance</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="number" name="distance" id=distance value="<%=drive.distance%>" placeholder="How many miles?">
          </div>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
          <div class="form-group">
            <label id="formLaneHdr" class="col-sm-12 control-label"for="amountTaken">Weekly Trips</label>
            <div class="col-sm-10" id="formLaneInpt">
              <input class="no-border"type="text" name="amountTaken" id=amountTaken value="<%=drive.amountTaken%>" placeholder="Amount taken weekly">
            </div>
          </div>
        </div>
      </div>
  </div>
  <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
  </form>
  <div class="col-xs-2">
    <form  id="fuck"action="/drives/<%= drive._id %>/delete" method="post">
      <button id="butnTxt1" type="submit" name="delete" class="btn btn-danger center-block"><span class="glyphicon glyphicon-trash"></span> Delete <%= drive.drivesName %></button>
    </form>
  </div>
  </div>

    </div>







</body>
