<body>

<h1><%= car.carName %></h1>

<p> Total Lease Mileage <%= car.totAllotMiles %></p>

<p> Current Odometer reading <%= car.currentOdom %></p>

<p> Lease Duration (months) <%= car.leaseDurationMonths %></p>

<p> Lease Expiration Date <%= car.leaseExpires %></p>

<p> Miles Allowed Yearly <%= car.yearlyAllowedMileage%></p>

<p> Miles Allowed Monthly <%= car.monthlyAllowedMileage%></p>

<p> Miles Allowed Daily <%= car.dailyMileageAllowed%></p>

<p> Total Lease Days <%= car.totalLeaseDays%></p>


<p> Lease Years <%= car.leaseYears%></p>


<a class="btn btn-info" href="/cars/<%= car._id %>/edit" role="button">Edit the Car</a>
<br>
<br>
<form  action="/cars/<%= car._id %>/delete" method="post">
  <button type="submit" name="delete" class="btn btn-danger">Delete <%= car.carName %></button>
</form>

</body>
