<div class = "detailsContainer">

  <div class="row">
    <div class="col-xs-12" id="fuck">
      <div class="row">
        <div class="col-xs-11">
        </div>
        <div class="col-xs-1">
          <a  href="/cars/<%= car._id %>/edit" role="button" class="glyphicon glyphicon-edit"></a>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
        <h1><%=car.carName%></h1>
      </div>
      <div class="col-xs-4" id="spec">
        <div>Lease Days Remaining</div>
        <div id="specDet"><%= car.leaseDaysLeft%></div>
      </div>
      <div class="col-xs-4" id="spec">
        <div>Current Allotted Mileage</div>
        <div id="specDet"><%= car.allotMileageTillNow%></div>
      </div>
      <div class="col-xs-4" id="spec">
        <div>Current Odometer Reading</div>
        <div id="specDet"><%= car.currentOdom %></div>
      </div>
    </div>
    <div id="pacingContainer">
      <div class="row">
        <div class="col-xs-12" id="pacingBlock">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="containterGraph">
  <div class="row">
    <div class="xs-sm-12">
      <canvas id="myChart" ></canvas>
      <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      // ctx.canvas.width = 100;
      // ctx.canvas.height = 150;
      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
              labels: ["Allotted Miles", "Current Odometer Reading"],
              datasets: [{
                  label: '# of Miles',
                  data: [`<%=car.allotMileageTillNow%>`,`<%=car.currentOdom%>`],
                  backgroundColor: [
                      'rgba(151, 229, 185, 0.5)',
                      'rgba(151, 215, 229, 0.5)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(151,229,185,1)',
                      'rgba(151, 215, 229, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      </script>
    </div>
  </div>
</div>
