<body>

  <div class="container makeCar">
    <div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8"id="fuck">
  <div class="row">
    <div class="col-xs-2">
      <a  href="/profile" role="button" class="glyphicon glyphicon-menu-left"></a>
    </div>
    <div class="col-xs-8">
      <h1>Edit <i><%=car.carName%></i> </h1>
    </div>
    <form class="form" action="/cars/<%= car._id %>/edit" method="POST">
    <div class="col-xs-2">
      <button class="btn btn-primary" id="butnTxt1"type="submit">Save Car</button>
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5" >
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="carName">Car Name</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="text" name="carName" id="carName" value="<%=car.carName%>" placeholder="What Car is this?">
          </div>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="currentOdom">Odometer Reading</label>
          <div class="col-sm-12" id="formLaneInpt">
            <input class="no-border"type="number" name="currentOdom" id="currentOdom" value="<%=car.currentOdom%>" placeholder="Current car mileage?  ">
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5" >
      <div class="form-group">
        <label id="formLaneHdr" class="col-sm-12 control-label"for="totAllotMiles">Total Mileage Allowed</label>
        <div class="col-sm-10" id="formLaneInpt">
          <input class="no-border"type="number" name="totAllotMiles" id=totAllotMiles value="<%=car.totAllotMiles%>" placeholder="Mileage alloted">
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="leaseDurationMonths">Lease Duration (months)</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="number" name="leaseDurationMonths" id="leaseDurationMonths" value="<%=car.leaseDurationMonths%>" placeholder="# of months in lease">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5" >
        <div class="form-group">
          <label id="formLaneHdr" class="col-sm-12 control-label"for="leaseExpires">Lease Expiration Date</label>
          <div class="col-sm-10" id="formLaneInpt">
            <input class="no-border"type="date" name="leaseExpires" id="leaseExpires" value="<%=car.leaseExpires%>" placeholder="When does lease end?">
          </div>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
      <div class="col-xs-5">
          <div class="form-group">
            <label id="formLaneHdr" class="col-sm-12 control-label"for="imageUrl">Image URL of Car</label>
            <div class="col-sm-10" id="formLaneInpt">
              <input class="no-border"type="text" name="imageUrl" id="imageUrl" value="<%=car.imageUrl%>" placeholder="Paste URL here!">
            </div>
            <div class="">
              <img src="<%=car.imageUrl%>" alt="..." class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
  </div>
  <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
  </form>
        <div class="col-xs-2">
          <form  id="fuck"action="/cars/<%= car._id %>/delete" method="post">
            <button id="butnTxt1" type="submit" name="delete" class="btn btn-danger center-block"><span class="glyphicon glyphicon-trash"></span> Delete Car</button>
          </form>
        </div>
  </div>
  </div>




  </body>





</body>
