<body>
<h2>Edit Your Car!</h2>

<div class="container makeCar">
  <div class="row">



<form  action="/cars/<%= car._id %>/edit" method="POST">
<div class="form-group row">

  <label class="col-sm-2 col-form-label" for=carName> Enter the Name of Your Car </label>
  <div class="col-sm-10">
  <input type="text" id="carName" name="carName" value="<%=car.carName%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="totAllotMiles"> How many miles are you alloted in your lease?  </label>

  <div class="col-sm-10">
  <input type="number" name="totAllotMiles" id="totAllotMiles"value="<%=car.totAllotMiles%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="currentOdom"> What is your Odometer's reading (miles)? </label>

  <div class="col-sm-10">
  <input type="number" name="currentOdom" id="currentOdom"value="<%=car.currentOdom%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="leaseDurationMonths"> How many months are in your lease (e.g. 36, 48, 60)? </label>

  <div class="col-sm-10">
  <input type="number" name="leaseDurationMonths" id="leaseDurationMonths" value="<%=car.leaseDurationMonths%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="leaseExpires"> What day does your lease expire?  </label>

  <div class="col-sm-10">
  <input type="date" name="leaseExpires" id="leaseExpires" value="<%=car.leaseExpires%>">
  </div>

</div>

<div class="form-group row">

  <label class="col-sm-2 col-form-label" for="imageUrl"> Image Url  </label>

  <div class="col-sm-10">
  <input type="text" name="imageUrl" id="imageUrl" value="<%=car.imageUrl%>">
  </div>

</div>


  <button class="btn btn-success"type="submit">Save Car</button>

    </form>
  </div>
  <div class="col-xs-3">
  <% if (typeof(errors) !== "undefined"){ %>
    <% for (let error in errors){ %>
    <div class="error-message">
      <li><%= errors[error].message %></li>
      </div>
    <% } %>
  <% } %>
  </div>

</div>
<!-- <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %> -->

  <br>
  <br>
  <br>
  <form  action="/cars/<%= car._id %>/delete" method="post">
    <button type="submit" name="delete" class="btn btn-danger">Delete <%= car.carName %></button>
  </form>
</body>
